html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    display: block;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tabla {
    display: block;
    text-align: center;
    padding-top: 20px;
}

table {
    width: fit-content; 
    margin: 0 auto;
    background-color: rgb(28, 183, 255);
}

th {
    background-color: rgb(3, 126, 226);
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

tr, th, td {
    text-align: center;
    border: 1px solid black;
    padding: 8px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary, #btn-add {
    margin-top: 10px;
    font-size: 1rem;
    padding: 8px 15px;
    background-color: rgb(0, 75, 236);
    color: white;
}

.btn-edit { 
    background-color: rgb(0, 214, 0); 
}

.btn-delete { 
    background-color: rgb(255, 48, 48); color: white;
}

#btn-cancel { 
    margin-top: 10px;
    font-size: 1rem;
    padding: 8px 15px;
    color: white;
    background-color: rgb(255, 48, 48);
}

#btn-cancAdd { 
    margin-top: 10px;
    font-size: 1rem;
    padding: 8px 15px;
    color: white;
    background-color: rgb(255, 48, 48);
}

.modal-oculto {
    display: none !important;
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

#global-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2000; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-content {
    text-align: center;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 5px;
}
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}